@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
  background: black;
  color: #fff;
  font: normal 16px/20px 'Julius Sans One', sans-serif;
}

a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

#content {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

#content,
.menu,
.contact {
  background-size: cover;
  background-repeat: no-repeat;
}

.for-home {
  background-image: url('./assets/emerson-vieira-pqDbQ21C59A-unsplash.jpg');
}

.for-about {
  background-image: url('./assets/emerson-vieira-lanootd2FcU-unsplash.jpg');
}

.navbar {
  padding-left: 0;
  margin: 0 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar,
.info {
  display: flex;
  flex-wrap: wrap;
}

.nav-link,
li {
  display: block;
  padding: 0.5em 1rem;
  transition: background-color 0.4s ease-out;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid white;
}

li,
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.info {
  justify-content: center;
  margin-top: 1rem;
  font-weight: 600;
}

.info li {
  background: none;
}

.info li:hover {
  transform: scale(1.05) translateY(-4px);
  transition: 0.5s ease-in;
}

.home,
.menu,
.contact,
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  padding-top: 3rem;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.menu,
.contact {
  margin: 0 1rem;
  background-position: 50% 50%;
}

.menu {
  background-image: url('./assets/carlos-davila-cepeda-lpkDVZF_cbw-unsplash.jpg');
}

.contact {
  background-image: url('./assets/valentin-b-kremer-S8BhJ0HB-WQ-unsplash.jpg');
}

.about {
  text-align: center;
}

.pad-div {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  margin: 0 1rem;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.space {
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  .home,
  .contact {
    text-align: center;
  }

  .home {
    padding-top: 0;
    justify-content: center;
  }

  .info {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 0.4rem;
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .navbar {
    padding-top: 1.2rem;
    flex-direction: column;
  }
}
